<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <form action="/team" method="POST">
      <label for="team-name">Team Name:</label>
      <input type="text" id="team-name" name="team_name">

      <label for="coach">Coach:</label>
      <input type="text" id="coach" name="coach">

      <label for="point-guard">Point Guard:</label>
      <input type="text" id="point-guard" name="point_guard">

      <label for="shooting-guard">Shooting Guard:</label>
      <input type="text" id="shooting-guard" name="shooting_guard">

      <label for="small-forward">Small Forward:</label>
      <input type="text" id="small-forward" name="small_forward">

      <label for="power-forward">Power Forward:</label>
      <input type="text" id="power-forward" name="power_forward">

      <label for="center">Center:</label>
      <input type="text" id="center" name="center">

      <input type="submit" id="Submit">
    </form>
 </body>
</html>
